/*startof div.html*/
html, body{
    padding:0;
    margin:0;
}
#body{
    background-color: rgb(77, 21, 21);
    font-size:14px
}
#topbar{
    height:70px;
    background-color: rgb(77, 21, 21);
}
#topbar #left{
    width:30%;
    float:left;
    height:100%;
    font-size:50px;
    font-style: italic;
    color:chocolate;
    padding-left: 60px;
}
#topbar #right{
    width:50%;
    float:right;
    height:100%;
    font-size:60px;
    text-align: center;
    
    /* background-color:rgb(164, 164, 194); */
}
#topbar #right a{
    display:inline;
    color:chocolate;
    font-size:30px;
    text-decoration:none;
    margin-right: 20px;
    
}
#topbar #right a:hover{
    padding: 10px;
    color:whitesmoke;
}
#middlebar{
    height: 950px;
    background-image: url("home.png");
    background-size: 100%;
    font-size: 3vw;
    color:chocolate; 
    font-style: oblique; 
}
#text{
    padding-top: 5%;
    padding-left: 5%;
}
#middlebar a{
    text-decoration: none;
    padding: 60px;
}
#bottombar{
    height:410px;
    /* background-image:url("water1.jpg"); */
    background-repeat: no-repeat;
    background-color:whitesmoke;
    background-size:100%;
}
#bottombar #leftside{
    width:40%;
    float:left;
    height:100%;
    font-size:25px;
    color: black;
    padding-left: 20px;
}
#bottombar #leftside h2{
    color:chocolate;
}
#bottombar #leftside ul{
    text-align: center;
    list-style-type:none;
    color: rgb(77, 21, 21);
}
#bottombar #rightside{
    width:40%;
    float:right;
    height:100%;
    font-size:30px;
    color: rgb(77, 21, 21);
}
#bottombar #rightside i{
    color: chocolate;
}
#footer{
    left:0;
    bottom:0;
    width:100%;
    height: 40px;
    background-color: rgb(77, 21, 21);
    color:#fff;
    text-align:center;
}
/*startof div.html*/
html, cbody{
    padding:0;
    margin:0;
}
#contacts{
    height: 700px;
    text-align: center;
    margin:0;
    background-image: url("crib2.jpg");
    background-size: cover;
    font-size: 3vw;
    color:black; 
    font-style: oblique; 
    top:300px;
    background-color: rgb(77, 21, 21);

}
#table{
    border-collapse: collapse;
    width:100%;
    height:900px;
}
#table td, #table th{
    border:1px solid #ddd;
    padding:8px;
}
#table tr:nth-child(even){background-color:wheat;}
#table tr:hover{background-color:wheat,white;}
#table th{
    padding-top: 12px;
    padding-bottom:12px;
    text-align:left;
    background-color:rgb(77, 21, 21);
    color:wheat;
    font-size:40px;
}
#table td{
    font-size:25px;
    font-style:oblique;
}

#form{
    text-align: center;
    background-color:blueviolet;
    padding: 20px;
}
#form input, #form textarea{
    width:300px;
    padding:10px;
    font-size:15px;
    margin: 3px;
    border-radius: 5px;
}
#form textarea{
    height: 100px;
}
#form input[type="submit"]{
    width:90px;
    background-color: aqua;
    border-radius: 10px;
    outline:none;
    color:navy;
}
.flip-card {
    background-color: transparent;
    width: 40%;
    height: 500px;
    perspective: 1000px;
  }
  
  .flip-card-inner {
    position: relative;
    width: 250%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  .flip-card-back {
    background-color: rgb(77, 21, 21);
    color: white;
    transform: rotateY(180deg);
  }